.homeC {
    position: absolute;
    width: 50%;
    height: 50%;
    right: 5px;
    top: 100px;
}

.carrusel {
    width: auto;
    padding: 100px;
}

.planes {
    margin-top: 100px;
    margin-left: auto;
    margin-left: auto;
}