<app-navbar>
</app-navbar>
<div class="container">
    <div class="row">

        <div class="abs-center col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <form ngNaviteValidate [formGroup]="forma" (ngSubmit)="registrarEmpresa()" class="formulario animated fadeInLeft">
                <h2 style="text-align: center; margin-bottom: 5px;">Registro</h2>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Nombre de la Empresa</label>
                        <input formControlName="nombreEmpresa" name="nombreEmpresa" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputPassword4">Nombre del propietario</label>
                        <input formControlName="nombre" name="nombre" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputPassword4">Dirección</label>
                        <input formControlName="direccion" name="direccion" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Correo eléctronico</label>
                        <input formControlName="correo" name="correo" type="email" class="form-control">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputPassword4">Contraseña</label>
                        <input formControlName="contrasena" name="contrasena" type="password" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Teléfono</label>
                        <input formControlName="telefono" name="telefono" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">Plan</label>
                        <select formControlName="plan" name="plan" class="form-control" style="width: auto;">
                          <option value="gratuito" selected>Gratuito</option>
                          <option value="medio">Medio</option>
                          <option value="completo">Completo</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary iniciar">Registrar</button>

            </form>
        </div>
        <div class="abs-center col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img id="img-reg" src="../../../assets/img/icono-logo.jpg" alt="">
        </div>
    </div>
</div>

<app-footer></app-footer>