<div class="container-fluid">
    <div class="row">
        <div *ngFor="let empresa of empresas" class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="card" style="color: #b030b0; margin-top: 50px;">
                <img [src]="empresa.foto | img:empresa.role" class="w150 rounded">
                <div class="card-body">
                    <h5 class="card-title">{{empresa.nombreEmpresa}}</h5>
                    <p class="card-text">Contactanos: {{empresa.correo}}</p>
                    <a href="#" *ngIf="this._usuarioService.role === 'client_role'" class="btn btn-primary">Visitar</a>
                    <button *ngIf="this._usuarioService.role === 'admin_role'" (click)="eliminarEmpresa(empresa)" class="btn-danger">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>