<div class="container">
    <div class="row">
        <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="card" style="color: #b030b0; margin-top: 50px;">
                <img src="https://img.freepik.com/vector-gratis/logotipo-moda_23-2148558723.jpg?size=626&ext=jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Empresa 1</h5>
                    <p class="card-text">Descripción</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>
        </div>
    </div>
</div>