<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar side">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar side">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav side">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class=" waves-effect side" href="#" aria-expanded="false"><img src="../assets/images/users/profile.png" alt="user" /><span class="hide-menu">Nombre Empresa </span></a>
                </li>
                <hr>
                <li> <span class="hide-menu">Inicio</span></li>
                <li> <span class="hide-menu">Plan: Gratuito</span></li>

                <li class="nav-devider"></li>
                <li> <span class="hide-menu">Mi sitio web</span>
                    <ul aria-expanded="false" class="collapse side">
                        <li><a routerLink='/pages' routerLinkActive="active" class="hide">Páginas </a></li>
                        <li><a routerLink='/files' routerLinkActive="active" class="hide">Archivos</a></li>
                        <li><a routerLink='/categories' routerLinkActive="active" class="hide">Categorias</a></li>
                        <li><a routerLink='/products' routerLinkActive="active" class="hide">Producto</a></li>
                    </ul>
                </li>
                <li> <span class="hide-menu">Temas</span></li>
                <li> <span class="hide-menu">Configuración</span></li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->