<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar side">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar side">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav side">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a *ngIf="usuario.role === 'enterprise_role'" class=" waves-effect side" aria-expanded="false">
                        <img [src]="usuario.foto | img" alt="user" />
                        <span class="hide-menu">{{usuario.nombreEmpresa}} </span>
                    </a>
                    <a *ngIf="usuario.role != 'enterprise_role'" class=" waves-effect side" aria-expanded="false">
                        <img [src]="usuario.foto | img" alt="user" />
                        <span class="hide-menu">{{usuario.nombre}} </span>
                    </a>
                </li>
                <hr>
                <li class="nav-devider"></li>
                <li *ngFor="let menu of _sidebarService.menu">
                    <ul aria-expanded="false" class="collapse side">
                        <li class="pointer" [routerLink]="[menu.url]" routerLinkActive="active">
                            <a></a>{{menu.titulo}} </li>
                        <li *ngFor="let submenu of menu.submenu"><a [routerLink]="[submenu.url]" routerLinkActive="active" class="hide">{{submenu.titulo}} </a></li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss -->
<!-- ============================================================== -->