.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-right: auto;
    margin-left: auto;
}

.form {
    width: 450px;
}

.formulario {
    border: 2px solid #602080;
}


/* background-image: url('../../../assets/img/fondo-login.png'); */