/* .homeC {
    position: absolute;
    width: 50%;
    height: 50%;
    right: 5px;
    top: 100px;
} */

.carrusel {
    margin-top: 150px;
}

.planes {
    margin-top: 100px;
}

.card {
    color: #B030B0;
    background-color: white;
    margin-bottom: 20px;
}