<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarUsuario(input.value)" type="text" class="form-control" name="" id="" placeholder="Buscar usuario...">
            </div>
        </div>
    </div>
</div>

<div *ngIf="cargando" class="row animated fadeIn">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-1x"></i>
            <br>
            <span>Espere por favor</span>

        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 align-self-center">
                        <ol class="breadcrumb" style="background-color: white !important;">
                            <li class="breadcrumb-item ">
                                <a href="javascript:void(0)" (click)="cargarUsuarios('admin_role', 0)" class="enlaces">Admins</a>
                            </li>
                            <li class="breadcrumb-item ">
                                <a href="javascript:void(0)" (click)="cargarUsuarios('enterprise_role', 0)" class="enlaces">Empresas</a>
                            </li>
                            <li class="breadcrumb-item ">
                                <a href="javascript:void(0)" (click)="cargarUsuarios('client_role', 0)" class="enlaces">Clientes</a>
                            </li>
                        </ol>
                    </div>
                </div>

                <h5 class="card-title">
                    Usuarios registrados (
                    <small>{{totalUsuarios}}</small>)
                    <small> <button  class="btn btn-primary" (click)= "modalNuevoUsuario(NuevoUsuario)"  style="margin: 5px; float:right !important;">
                        <i class="fa fa-plus"></i> Nuevo
                    </button></small>
                </h5>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Rol</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td class="w70">
                                <img [src]="usuario.foto | img:usuario.role" class="img-50 img-circle">
                            </td>
                            <td *ngIf="usuario.role != 'enterprise_role'">{{usuario.nombre}}</td>
                            <td *ngIf="usuario.role === 'enterprise_role'">{{usuario.nombreEmpresa}}</td>
                            <td>{{usuario.correo}}</td>
                            <td>{{usuario.role}}</td>
                            <td>
                                <button (click)="modalEditarUsuario(usuario, EditarUsuario)" class="btn-primary" style="margin: 5px;">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button (click)="eliminarUsuario(usuario)" class="btn-danger">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-5)" style="margin: 5px;" class="btn btn-secondary">
                    Anterior
                </button>
                <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                    Siguiente
                </button>

            </div>
        </div>
    </div>
</div>

<!-- Ventana modal de nuevo usuario -->
<ng-template #NuevoUsuario let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Nuevo Usuario</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form ngNativeValidate #f="ngForm" (ngSubmit)="guardarNuevoUsuario(f.value)">
            <div class="form-body">
                <div class="row p-t-20">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                            <input [ngModel]="" name="nombre" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Contraseña</label>
                            <input ngModel="" name="contrasena" type="password" class="form-control">
                        </div>
                    </div>

                    <div *ngIf="role === 'enterprise_role'" class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Nombre empresa</label>
                            <input ngModel="" name="nombreEmpresa" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div *ngIf="role === 'enterprise_role'" class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Plan</label>
                            <select ngModel="" name="plan" class="form-control custom-select">
                                <option  value="gratis">Gratis</option>
                                <option  value="medio">Medio</option>
                                <option  value="completo">Completo</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Correo</label>
                            <input ngModel="" name="correo" type="email" class="form-control">
                        </div>
                    </div>
                </div>
                <hr>
                <div *ngIf="role != 'admin_role'" class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Telefono</label>
                            <input ngModel="" name="telefono" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12 ">
                        <div class="form-group">
                            <label>Dirección</label>
                            <input ngModel="" name="direccion" type="text" class="form-control">
                        </div>
                    </div>
                </div>


            </div>
            <div class="form-actions">
                <button type="submit" style="width: auto !important;" class="btn iniciar"> 
                    <i class="fa fa-save"></i> Guardar
                </button>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Cancelar</button>
    </div>
</ng-template>

<!-- Ventana modal para editar usuario -->

<ng-template #EditarUsuario let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar Usuario</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <!--   <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">
                        Fotografia
                        <hr>
                    </h3>
                    <h6 class="card-subtitle"></h6>
                    <img *ngIf="!imgTemp" [src]="usuarioM.foto | img:usuarioM.role" class="w150">
                    <img *ngIf="imgTemp" [src]="imgTemp" class="w150">
                    <br> <br>
                    <input type="file" (change)="seleccionImg( $event.target.files[0] )" name="" id=""> <br> <br> <br>
                    <div class="form-actions">
                        <button type="button" (click)="cambiarImg()" [disabled]="!imgSubir" style="width: auto !important;" class="btn iniciar"> <i class="fa fa-save"></i> Actualizar</button>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="col-lg-6">
            <form ngNativeValidate #f="ngForm" (ngSubmit)="actualizarUsuario(f.value)">
                <div class="form-body">
                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Nombre</label>
                                <input [ngModel]="usuarioM.nombre" name="nombre" type="text" class="form-control">
                            </div>
                        </div>
                        <div *ngIf="role === 'enterprise_role'" class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Nombre empresa</label>
                                <input [ngModel]="usuarioM.nombreEmpresa" name="nombreEmpresa" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div *ngIf="role === 'enterprise_role'" class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Plan</label>
                                <select [ngModel]="usuarioM.plan" name="plan" class="form-control custom-select">
                                    <option  value="gratis">Gratis</option>
                                    <option  value="medio">Medio</option>
                                    <option  value="completo">Completo</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Correo</label>
                                <input [ngModel]="usuarioM.correo" name="correo" type="email" class="form-control">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div *ngIf="role != 'admin_role'" class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Telefono</label>
                                <input [ngModel]="usuarioM.telefono" name="telefono" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label>Dirección</label>
                                <input [ngModel]="usuarioM.direccion" name="direccion" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" style="width: auto !important;" class="btn iniciar"> 
                        <i class="fa fa-save"></i> Guardar
                    </button>
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">
                        Fotografia
                        <hr>
                    </h3>
                    <h6 class="card-subtitle"></h6>
                    <img *ngIf="!imgTemp" [src]="usuarioM.foto | img:usuarioM.role" class="w150">
                    <img *ngIf="imgTemp" [src]="imgTemp" class="w150">
                    <br> <br>
                    <input type="file" (change)="seleccionImg( $event.target.files[0] )" name="" id=""> <br> <br> <br>
                    <div class="form-actions">
                        <button type="button" (click)="cambiarImg()" [disabled]="!imgSubir" style="width: auto !important;" class="btn iniciar"> <i class="fa fa-save"></i> Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Cancelar</button>
    </div>
</ng-template>