<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarUsuario(input.value)" type="text" class="form-control" name="" id="" placeholder="Buscar usuario...">
            </div>
        </div>
    </div>
</div>

<div *ngIf="cargando" class="row animated fadeIn">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-1x"></i>
            <br>
            <span>Espere por favor</span>

        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 align-self-center">
                        <ol class="breadcrumb" style="background-color: white !important;">
                            <li class="breadcrumb-item ">
                                <a href="javascript:void(0)" (click)="cargarUsuarios('admin_role')" class="enlaces">Admins</a>
                            </li>
                            <li class="breadcrumb-item ">
                                <a href="javascript:void(0)" (click)="cargarUsuarios('enterprise_role')" class="enlaces">Empresas</a>
                            </li>
                            <li class="breadcrumb-item ">
                                <a href="javascript:void(0)" (click)="cargarUsuarios('client_role')" class="enlaces">Clientes</a>
                            </li>
                        </ol>
                    </div>
                </div>

                <h5 class="card-title"> Usuarios registrados (<small>{{totalUsuarios}}</small>)</h5>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Rol</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td></td>
                            <td *ngIf="usuario.role != 'enterprise_role'">{{usuario.nombre}}</td>
                            <td *ngIf="usuario.role === 'enterprise_role'">{{usuario.nombreEmpresa}}</td>
                            <td>{{usuario.correo}}</td>
                            <td>{{usuario.role}}</td>
                            <td>
                                <button class="btn-primary" style="margin: 5px;">
                                    <i class="fa fa-save"></i>
                                </button>
                                <button class="btn-danger">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>