<app-navbar>
</app-navbar>
<div class="container ">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <header id=" header " class="header ">
                <div class="header-content ">
                    <div class="text-container ">
                        <h1>
                            <span>Projekt</span>
                            <img src="assets/img/favicon.jpg " alt="projekt ">
                            <br>Te llevamos a navegar y a diseñar lo que tu deseas.
                        </h1>
                        <p class="p-large ">¡Únete a nosotros! Comienza a diseñar tu propio sitio web aunque no seas un experto programando o diseñando, te ofrecemos las mejores tarifas de la industria.
                            <br> ¡Regístrate en nuestra plataforma y compruebalo tu mismo! <br> Además si quieres realizar tus compras online, navega en nuestras empresas registradas con la mayor seguridad y calidad en tus compras.
                        </p>
                        <svg xmlns="http://www.w3.org/2000/svg " viewBox="0 0 1440 320 ">
                            <path fill="#B030B0 " fill-opacity="1 " d="M0,96L60,112C120,128,240,160,360,149.3C480,139,600,85,720,96C840,107,960,181,1080,208C1200,235,1320,213,1380,202.7L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z "></path>
                        </svg>
                    </div>
                </div>
            </header>

        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">

            <div class="carrusel ">
                <div id="carouselExampleIndicators " class="carousel slide " data-ride="carousel ">
                    <div class="carousel-inner ">
                        <div class="carousel-item active " data-interval="2000 ">
                            <img src="assets/img/carrusel1.svg " class="d-block w-100 " alt="carrusel ">
                        </div>
                        <div class="carousel-item " data-interval="2000 ">
                            <img src="assets/img/carrusel2.svg " class="d-block w-100 " alt="carrusel ">
                        </div>
                        <div class="carousel-item " data-interval="2000 ">
                            <img src="assets/img/carrusel3.svg " class="d-block w-100 " alt="carrusel ">
                        </div>
                    </div>
                    <a class="carousel-control-prev " href="#carouselExampleIndicators " role="button " data-slide="prev ">
                        <span class="carousel-control-prev-icon " aria-hidden="true "></span>
                        <span class="sr-only ">Previous</span>
                    </a>
                    <a class="carousel-control-next " href="#carouselExampleIndicators " role="button " data-slide="next ">
                        <span class="carousel-control-next-icon " aria-hidden="true "></span>
                        <span class="sr-only ">Next</span>
                    </a>
                </div>
            </div>

        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 planes ">
            <h2>Te ofrecemos planes que se ajustan a tu presupuesto</h2>
            <p>Hemos preparado distintos planes para que puedas gozar de nuestros servicios de manera inmediata</p>
        </div>

        <div class=" col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
            <div class="card ">
                <div class="card-body ">
                    <h5 class="card-title ">Gratuito </h5>
                    <hr class="cell-divide-hr ">
                    <h1> <span class="badge ">L0 <h6>Mensual</h6></span> </h1>
                    <hr class="cell-divide-hr ">
                    <ul style="list-style: none; ">
                        <li>
                            <p><i class="fas fa-check "></i> Registro en nuestra plataforma</p>
                        </li>
                        <li>
                            <p><i class="fas fa-times "></i> Creación de páginas ilimatada</p>
                        </li>
                        <li>
                            <p><i class="fas fa-times "></i> Archivos multimedia ilimitado</p>
                        </li>
                    </ul>
                    <a class="btn btn-primary iniciar ">Solicitar</a>
                </div>
            </div>


        </div>
        <div class=" col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
            <div class="card ">
                <div class="card-body ">
                    <h5 class="card-title ">Medio </h5>
                    <hr class="cell-divide-hr ">
                    <h1> <span class="badge ">L149 <h6>Mensual</h6></span> </h1>
                    <hr class="cell-divide-hr ">
                    <ul style="list-style: none; ">
                        <li>
                            <p><i class="fas fa-check "></i> Registro en nuestra plataforma</p>
                        </li>
                        <li>
                            <p><i class="fas fa-check "></i> Creación de páginas ilimatada</p>
                        </li>
                        <li>
                            <p><i class="fas fa-times "></i> Archivos multimedia ilimitado</p>
                        </li>
                    </ul>
                    <a class="btn btn-primary iniciar ">Solicitar</a>
                </div>
            </div>

        </div>
        <div class=" col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
            <div class="card ">
                <div class="card-body ">
                    <h5 class="card-title ">Completo </h5>
                    <hr class="cell-divide-hr ">
                    <h1> <span class="badge ">L299 <h6>Mensual</h6></span> </h1>
                    <hr class="cell-divide-hr ">
                    <ul style="list-style: none; ">
                        <li>
                            <p><i class="fas fa-check "></i> Registro en nuestra plataforma</p>
                        </li>
                        <li>
                            <p><i class="fas fa-check "></i> Creación de páginas ilimatada</p>
                        </li>
                        <li>
                            <p><i class="fas fa-check "></i> Archivos multimedia ilimitado</p>
                        </li>
                    </ul>
                    <a class="btn btn-primary iniciar ">Solicitar</a>
                </div>
            </div>

        </div>



    </div>
</div>

<app-footer></app-footer>